<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <title>Mensagem</title>
<style>

#container {
    background-color:whitesmoke;
    width:  400px;
    height: 200px;
    padding:15%;
}
/*
#centralizar {
    background-color: whitesmoke;
    width: 90%;
    height: 50%;
    position: relative;
    margin:center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;    
    font-size:1.6rem;
    font-family: 'Roboto Condensed', sans-serif;	
    color:darkslateblue;
}
*/


.container {
width: 100vw;
height: 100vh;
background: #d5e40c;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size:1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.box {
width: 300px;
height: 300px;
background: #fff;

}
body {
margin: 0px;
}

img {
    width:70px;
    height:70px;
    margin:20px;
}



</style>    
</head>
   <body >
    <div class="container">
<!-- <img src="../images/alert.jpg"> -->
      <img src=<%= icone %> src= -->
      <p><%= txtmsg %></p>   
      <br>
      <br>
      <h2> <a class="badge badge-warning"  href="/">Página Inicial</a></h2>
  
    </div>
</body>
</html>