   <!-- <footer> -->
     <div class="footer-left">  
        <h3> <strong>Empresa Modelo Comercio Ltda.</strong></h3> 
        <p class="txt-inf">Central de Atendimento:atendimento@modelo.com.br </p>
        <p class="txt-inf">Rua Xv de Novembro, 418 - Centro, Sorocaba - SP, 180850-100, Brasil</p>
        <p class="txt-inf">Contatos: (15) 99695-6753 / (15) 99721-4263 / e-mail: vendas@modelo.com.br</p>
        <p class="txt-inf"> Horário de Atendimento: Segunda à Sexta das 07:00 às 18:00 Sábado das 07:00 às 13:00 </p>
        <h3> <a class="badge badge-warning" data-toggle="modal" href="#configlogin">Painel Adm</a></h3>
        <p class='txt-inf' style="font-size:1.0rem;"> Powered by: AWS Sistemas Empresariais / Sorocaba-SP / (15)99695-6753</p>

     </div>

     <div class="footer-right">
     <h2><strong>Formas de Pagamento:</strong></h2>
        <img src='/images/formas_pgto_2.jpg' width='70%'">
        <h2> <strong>Entregas:</strong></h2>
        <img src='/images/frota-propria.png' width="117" height="45" >
        <img src='/images/jadlog.png' width="117" height="45" >
        <img src='/images/correios.png' width="117" height="45" >
     </div>
   <!--  </footer> -->
  