  
   <!-- Footer Feirabor
	<div class="w3l-footer">
		<div class="container">
         <div class="footer-info-agile">

				<div class="col-md-3 footer-info-grid address">
					<h4>Endereço</h4>
					<address>
						<ul>
							<li>Av. Gal Carneiro,2551</li>
							<li>Vila Lucy - CEP:18043-004</li>
							<li>Sorocaba -SP</li>
							<li>Pabx: +55 (15) 3229-4550 / Whatsapp vendas:+55 (15)99157-2988</li>
							<li>Email : <a class="mail" href="mailto:feirabor.sor@terra.com.br">feirabor.sor@terra.com.br</a></li>
						</ul>
					</address>
				</div>
			
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7317.546211534524!2d-47.483829974821894!3d-23.504680638844107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58adcd2695c7d%3A0xdb6cf92de47536f!2sAv.+Gen.+Carneiro%2C+Sorocaba+-+SP!5e0!3m2!1spt-BR!2sbr!4v1490319675642" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
				<div class="clearfix"></div>
			</div>

			<div class="connect-agileits">
				<div class="connect-social">
					<h4>Conecte-se conosco nas redes sociais</h4>
					<div class="social">
                        <ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon rss" href="#"><i class="fa fa-rss"></i></a></li>
							<li><a class="icon lin" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="icon db" href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="copyright-wthree">
				<p>&copy; 2017 Feirabor é marca registrada - Todos os direitos reservados | Design by AWS Sites-Up email:sbf.aws@gmail.com</p>
			</div>

		</div>
	</div>
	
	<!--<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> -->
<!-- //smooth scrolling -->

<div class="footer-left">  
    <h3> <strong>Feirabor o Shopping da Borracha</strong></h3> 
    <p class="txt-inf">Pabx: +55 (15) 3229-4550 / Whatsapp vendas:+55 (15)99157-2988 </p>
    <p class="txt-inf">Av. Gal Carneiro,2551 - Vila Lucy - CEP:18043-004, Sorocaba - SP</p>
    <p class="txt-inf">Feirabor Tradição e bom atendimento a mais de 35 anos!</p>
    <p class="txt-inf"> Horário de Atendimento: Segunda à Sexta das 07:00 às 18:00 Sábado das 07:00 às 13:00 </p>
    <br>
    <br>
    <br>
    <br>
    <h3> <a class="badge badge-warning" data-toggle="modal" href="#configlogin">Painel Adm</a></h3>
    <p class='txt-inf' style="font-size:1.0rem;"> Powered by: AWS Sistemas Empresariais / Sorocaba-SP / (15)99695-6753</p>

 </div>

 <div class="footer-right">
 <h2><strong>Formas de Pagamento:</strong></h2>
    <img src='/images/formas_pgto_2.jpg' width='70%'">
    <h2> <strong>Entregas:</strong></h2>
    <img src='/images/frota-propria.png' width="117" height="45" >
    <img src='/images/jadlog.png' width="117" height="45" >
    <img src='/images/correios.png' width="117" height="45" >
 </div> 