   
<nav  class="navbar navbar-expand-md navbar-light">

    <!-- Botão que vai aparecer quando a tela for pequena ou minimizada -->
    <button class="navbar-toggler" 
       type="button" 
       data-bs-toggle="collapse" 
       data-bs-target="#toggleMobileMenu" 
       aria-controls="toggleMobileMenu" 
       aria-expanded="false" 
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="toggleMobileMenu">
       <ul  class="navbar-nav">
          <li class="nav-item" >
             <a class="nav-link" href="#">Início</a>
          </li>
          <li class="nav-iteim" >
            <a class="nav-link" href="#">Contate-nos</a>
          </li>
       </ul>

       <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button id='pesquisa' class="btn btn-outline-success" type="submit" onclick='clicar()'>Search</button>
       </form>
   </div>   
</nav>
